<div class="max-w-lg min-w-min mx-auto flex-col">
  <h1 class="text-2xl font-bold">Sign In</h1>

  <%= form_with url: session_path, scope: :session do |f| %>
    <%= hidden_field_tag :origin_url, request.referer %>
    <div class="mt-4 grid grid-cols-4 gap-4 items-center">
      <div><label for="session_email_address">E-mail:</label></div>
      <div class="col-span-3"><%= f.text_field :email_address, class: "w-full" %></div>
      <div><label for="session_password">Password:</label></div>
      <div class="col-span-3"><%= f.password_field :password, class: "w-full" %></div>
      <div class="col-span-4 justify-self-end"><%= f.submit "Login", class: 'px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-400 cursor-pointer' %></div>
    </div>
  <% end %>
</div>
