<% crumbs_for @story, leaf: false %>
<% breadcrumb 'New Chapter' %>

<div class="max-w-prose mx-auto mb-4">
  <div class="flex-col w-full" data-controller="sequel" data-sequel-parent-value="<%= dom_id(@chapter || @story) %>" data-sequel-uuid-value="<%= @uuid %>">
    <h1 class="text-2xl font-bold">Game Time!</h1>
    <h2 class="text-md italic">
      <% if @chapter %>
        Play a new chapter. You're picking up from the end of <%= link_to @chapter.title, @chapter, class: 'ts-link' %>.
      <% else %>
        Play the first chapter of your story.
      <% end %>
    </h2>

    <%= form_with model: @chapter ? Chapter::Sequel.from_chapter(@chapter, @uuid) : Chapter::Sequel.from_scratch(@uuid), url: @chapter ? chapter_sequels_path(@chapter) : story_sequels_path(@story) do |form| %>
      <%= form.hidden_field :uuid %>

      <h2 class="text-lg font-bold mt-4">Session Notes</h2>
      <p class="text-sm italic">
        Keep notes on your game session here. Once you feel like you have enough
        to write the next chapter of your tale, click "Next."
      </p>

      <div class="ml-2 mt-2 mb-1 text-sm">
        <a href='#' data-controller="trigger" data-trigger-dialog-outlet="#storyNotes" data-action="trigger#do:prevent" class="ts-link">Story Notes</a>
        <% if @chapter %>
          | <a href='#' data-controller="trigger" data-trigger-dialog-outlet="#trackSheet" data-action="trigger#do:prevent" class="ts-link">Track Sheet</a>
        <% end %>
      </div>
      <%= form.text_area :contents, class: 'focus:outline-none focus:ring-0 border rounded-lg w-full overflow-hidden resize-none font-mono text-sm px-4 py-2', data: { controller: 'textarea-resize', textarea_resize_min_height_value: 288, sequel_target: 'field', action: 'textarea-resize#resize sequel#snapshot' } %>

      <%= dialog title: "Story Notes", start: :closed, color: :yellow, id: 'storyNotes' do %>
        <%= form.text_area :story_notes, class: "border-0 ring-0 focus:ring-0 resize-none w-full h-64 bg-yellow-50 text-sm font-mono", data: { sequel_target: 'field', action: 'sequel#snapshot' } %>
      <% end %>

      <% if @chapter %>
        <%= dialog title: "Track Sheet", start: :closed, color: :blue, id: 'trackSheet' do %>
          <%= render TrackSheet.new(definition: @chapter.final_track_sheet) %>
        <% end %>
      <% end %>

      <div class="text-sm mt-1">
        Your notes here are automatically saved. Return to this draft at any time to
        resume your work.
      </div>

      <div class="mt-4 mb-12 flex flex-row items-center">
        <% if @chapter %>
          <%= link_to chapter_path(@chapter), class: "flex flex-row items-baseline px-4 py-2 bg-blue-100 rounded hover:bg-blue-300 whitespace-nowrap max-w-[60%]" do %>
            Go back to &ldquo;<span class="truncate"><%= @chapter.title %></span>&rdquo;
          <% end %>
        <% else %>
          <%= link_to "Go back to the story", story_path(@story), class: "inline-block px-4 py-2 bg-blue-100 rounded hover:bg-blue-300" %>
        <% end %>
        <span class="px-2">|</span>
        <%= submit_tag "Next", class: "rounded bg-blue-100 hover:bg-blue-300 px-4 py-2" %>
        <span class="mx-1">or</span>
        <%= link_to "Discard this draft", @chapter ? chapter_path(@chapter) : story_path(@story), data: { action: 'sequel#discard' }, class: "ts-cancel" %>
      </div>
    <% end %>
  </div>
</div>
