<h1 class="text-xl font-bold">Caching</h1>

<pre>
  MEMCACHE_SERVERS: <%= ENV['MEMCACHE_SERVERS'].inspect %>
  MEMCACHE_USERNAME: <%= ENV['MEMCACHE_USERNAME'].inspect %>
  MEMCACHE_PASSWORD: <%= ENV['MEMCACHE_PASSWORD'].presence ? 'present' : 'missing' %>
  Rails.cache: <%= Rails.cache.class.name %> (<%= Rails.cache.options.inspect %>)
</pre>
