<div class="border rounded-lg w-56 min-h-60 shadow-md flex flex-col overflow-hidden <%= old ? 'bg-gray-100' : nil %>">
  <div class="border-b px-2 py-0 font-bold text-white <%= old ? 'bg-gray-500' : 'bg-blue-500' %>">
    <%= name %>
  </div>
  <div class="p-2 text-sm grow markdown h-full <%= old ? 'text-gray-500' : 'bg-blue-50' %>">
    <%=md value %>
  </div>
</div>
