<div class="section-form" data-controller="section-form">
  <div class="border rounded-b-lg">
    <%= form.hidden_field :id if form.object.persisted? %>
    <div class="flex flex-row items-baseline text-xs bg-gray-200 py-1 px-3">
      <div class="rounded border border-blue-400 overflow-hidden flex flex-row bg-white">
        <a href="#" class="w-24 px-2 py-1 border-r border-blue-400 text-center bg-blue-100" data-section-form-target="primary" data-action="section-form#selectPrimary:prevent">primary</a>
        <a href="#" class="w-24 px-2 py-1 text-center text-gray-400" data-section-form-target="aside" data-action="section-form#selectAside:prevent">aside</a>
        <%= form.hidden_field :role, data: { section_form_target: 'role' } %>
        <%= form.hidden_field :position %>
        <%= form.hidden_field :_destroy, data: { section_form_target: 'destroy' } %>
      </div>
      <div class="ml-auto">
        <span class="can-delete">[ <%= link_to "delete", "#", class: "ts-cancel", data: { action: 'section-form#deleteSection sections#checkMany:prevent' } %> ]</span>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="w-1/3 bg-gray-100 hidden" data-section-form-target="leftSide"></div>
      <div class="w-full flex flex-col">
        <div data-controller="quill-editor"  data-quill-editor-scroll-listener-outlet=".sections" class="relative flex flex-col">
          <%= form.hidden_field :content, data: { quill_editor_target: 'field' } %>
          <div class="trix-content" data-quill-editor-target='container'></div>
        </div>
        <div data-controller="track-sheet-editor" data-track-sheet-editor-renderer-value="TrackSheetUpdateFormRenderer" data-track-sheet-editor-dialog-outlet='#trackSheetPicker' data-track-sheet-editor-tracker-picker-outlet='.tracker-picker' data-track-sheet-editor-sections-outlet=".sections" data-toggle-target="panel" class="border-t border-blue-300 border-dashed px-4">
          <div data-track-sheet-editor-target="entries"></div>
          <%= form.fields_for :track_sheet_update, form.object.track_sheet_update || form.object.build_track_sheet_update, skip_default_ids: true do |t| %>
            <%= t.hidden_field :id if t.object.persisted? %>
            <%= t.hidden_field :data, data: { track_sheet_editor_target: 'source' }, class: 'track-sheet-update' %>
          <% end %>
          <div class="flex flex-row gap-2 my-2 text-xs">
            <a href="#" class="ts-button" data-action="track-sheet-editor#addTracker:prevent">Add a tracker</a>
            <a href="#" class="ts-button" data-action="track-sheet-editor#updateTracker:prevent">Update a tracker</a>
            <a href="#" class="ts-button" data-action="track-sheet-editor#deleteTracker:prevent">Delete a tracker</a>
          </div>
        </div>
      </div>
      <div class="w-1/3 bg-gray-100" data-section-form-target="rightSide"></div>
    </div>
  </div>

  <%= render 'sections/add_here' %>
</div>
