<div class="section-form" data-controller="section-form">
  <%= form.hidden_field :id if form.object.persisted? %>
  <div class="flex flex-row items-baseline text-xs bg-gray-200 py-1 px-3">
    <div class="rounded border border-blue-400 overflow-hidden flex flex-row bg-white">
      <a href="#" class="w-24 px-2 py-1 border-r border-blue-400 text-center bg-blue-100" data-section-form-target="left" data-action="section-form#selectLeft:prevent">left</a>
      <a href="#" class="w-24 px-2 py-1 border-r border-blue-400 text-center text-gray-400" data-section-form-target="full" data-action="section-form#selectFull:prevent">full</a>
      <a href="#" class="w-24 px-2 py-1 text-center text-gray-400" data-section-form-target="right" data-action="section-form#selectRight:prevent">right</a>
      <%= form.hidden_field :role, data: { section_form_target: 'role' } %>
      <%= form.hidden_field :position %>
      <%= form.hidden_field :_destroy, data: { section_form_target: 'destroy' } %>
    </div>
    <div class="ml-auto">
      [ <%= link_to "add before", "#", class: "ts-link", data: { action: 'sections#addSectionBefore:prevent' } %>
      | <%= link_to "add after", "#", class: "ts-link", data: { action: 'sections#addSectionAfter:prevent' } %>
      <span class="can-delete">| <%= link_to "delete", "#", class: "ts-cancel", data: { action: 'section-form#deleteSection sections#checkMany:prevent' } %></span> ]
    </div>
  </div>
  <div class="flex flex-row">
    <div class="w-1/3 bg-gray-100 hidden" data-section-form-target="leftSide"></div>
    <%= form.text_area :contents, rows: 5, class: 'focus:outline-none focus:ring-0 border-none w-full overflow-hidden resize-none', data: { section_form_target: 'editor', action: 'section-form#resizeEditor' } %>
    <div class="w-1/3 bg-gray-100" data-section-form-target="rightSide"></div>
  </div>
</div>
