<div class="container mx-auto mt-28 flex-col">
  <h1 class="text-2xl font-bold"><%= @creator.display_name %></h1>

  <div class="mt-4">
    <p><%=md @creator.description %></p>
  </div>

  <h1 class="text-xl font-bold mt-4">Current Stories</h1>

  <% if @creator.stories.active.any? %>
    <%= render partial: 'stories/list', object: @creator.stories.active %>
  <% end %>

  <% if Current.user == @creator %>
    <p class="mt-4 ml-4"><%= link_to "Start a new story", new_story_path, class: "ts-link" %></p>
  <% end %>

  <% if @creator.stories.archived.any? %>
    <h1 class="text-xl font-bold mt-8">Archived Stories</h1>

    <%= render partial: 'stories/list', object: @creator.stories.archived %>
  <% end %>
</div>
