<li class="mb-4 ml-4">
  <%= link_to story_path(story), class: "block rounded-lg px-6 py-4 bg-blue-100 hover:bg-blue-200" do %>
    <div>
      <span class="font-bold text-lg"><%= story.title %></span>
      <%= story.subtitle.present? ? "(#{story.subtitle})" : '' %>
    </div>

    <div class="mt-2">
      <div class="markdown"><%= md story.description %></div>
      <p class="italic mt-2">Last updated <%= time_ago_in_words story.updated_at %> ago.</p>
    </div>
  <% end %>
</li>
