<% crumbs_for @story %>

<% content_for :rss do %>
  <%= auto_discovery_link_tag :rss, story_url(@story, format: :rss) %>
<% end %>

<% if @story.banner.present? || Current.user == @story.creator %>
  <% content_for :banner do %>
    <% set_top_padding :none %>
    <%= render 'banners/possible_banner', container: @story, editable: (Current.user == @story.creator) %>
  <% end %>
<% end %>

<div class="max-w-prose mx-auto mb-4">
  <div class="flex flex-row items-baseline gap-2">
    <h1 class="text-3xl font-bold"><%= @story.title %></h1>
    <% if editable_story? %>
      <span>[
        <%= link_to "Edit", edit_story_path(@story), class: "ts-link" %> |
        <%= form_with url: story_path(@story), method: :delete, data: { turbo_confirm: "Really delete this story?" }, class: "inline" do |f| %>
          <%= f.submit "Delete", class: "ts-cancel cursor-pointer" %>
        <% end %>
      ]</span>
    <% else %>
      <%= render 'subscriptions/button', subscribable: @story %>
    <% end %>
  </div>

  <div class="flex-col max-w-screen-xl mb-16">
    <% if @story.subtitle.present? %>
      <h2 class="text-lg italic"><%= @story.subtitle %></h2>
    <% end %>
    <h2 class="font-bold">by <%= link_to @story.creator.display_name, creator_path(@story.creator), class: "ts-link" %></h2>

    <% if editable_story? && @story.published? && !@story.announced? && @story.creator.subscriber_count > 0 %>
      <div class="mt-2">
        <%= form_with url: announce_story_path(@story), data: { turbo_confirm: "Announce this story to #{pluralize @story.creator.subscriber_count, 'subscriber'}? You can only do this once per story." } do |f| %>
          <%= f.submit "Announce this story", class: 'ts-link cursor-pointer' %>
          to <%= pluralize @story.creator.subscriber_count, 'subscriber' %>
        <% end %>
      </div>
    <% end %>

    <div class="markdown mt-8">
      <%=md @story.description %>
    </div>

    <% if @story.archived? %>
      <div class="italic text-gray-400">
        This story is archived. <%= @story.creator.display_name %> is not currently
        adding more to it.
      </div>
    <% end %>

    <% if @story.chapters.empty? %>
      <div class="py-2 px-4 rounded-lg bg-blue-100">
        <p><%= link_to "Set up your story", new_story_chapter_path(@story, role: 'setup'), class: "ts-link" %> <em>[optional]</em></p>
        <p class="text-xs mt-1">
          This will create a "session zero" chapter, where you describe the initial
          state of your story. The most important bits to include are trackers for
          main characters' starting stats, or metagame information like Mythic GME's
          "chaos factor," but you can include whatever backstory you like, here.
        </p>
        <p class="text-xs mt-2">
          By default, this chapter is hidden from readers, but you can
          choose to make it visible to them if you want to share your setup
          process.
        </p>
      </div>

      <div class="mt-4 rounded-lg bg-blue-100 px-4 py-2">
        <p><%= link_to "Add your first chapter", new_story_chapter_path(@story, role: 'start'), class: "ts-link" %>.</p>
        <p class="text-xs mt-1">
          This will be the entry point of your story, the very beginning. Make it
          punchy and hook your readers from the start!
        </p>
      </div>
    <% else %>
      <div class="mt-4 mb-4 flex flex-row items-baseline">
        <h2 class="text-xl font-bold">Table of Contents</h2>
      </div>

      <% if @story.setup_chapter&.published? || editable_story? %>
        <div class="mb-4">
          <%= open_toc %>
            <% if @story.setup_chapter.present? %>
              <%= render 'toc_chapter', chapter: @story.setup_chapter %>
            <% else %>
              <li class="list-none">
                <p class="text-sm"><%= link_to "Create a setup chapter", new_story_chapter_path(@story, role: 'setup'), class: "border rounded border-blue-300 bg-blue-100 opacity-50 hover:opacity-100 px-2 py-0.5" %></p>
                <p class="text-xs opacity-50 mt-1">
                  Optional. Can be used to set up backstory and trackers required by your
                  story. Invisible to readers by default.
                </p>
              </li>
            <% end %>
          <%= close_toc %>
        </div>
      <% end %>

      <% if @story.start_chapter.present? %>
        <%= render_contents(@story) %>
      <% else %>
        <div class="mt-4 rounded-lg bg-blue-100 px-4 py-2">
          <p><%= link_to "Add your first chapter", new_story_chapter_path(@story, role: 'start'), class: "ts-link" %>.</p>
          <p class="text-xs mt-1">
            This will be the entry point of your story, the very beginning. Make it
            punchy and hook your readers from the start!
          </p>
        </div>
      <% end %>
    <% end %>

    <% if @story.chapters.any? %>
      <%= render 'comments/list', commentable: @story %>
    <% end %>
  </div>
</div>
