<%= form_with model: (chapter.new_record? ? [ chapter.story, chapter ] : chapter) do |f| %>
  <div class="flex flex-row items-baseline w-full my-4">
    <div><label for="chapter_title" class="text-lg">Title:</label></div>
    <div class="flex flex-col ml-3 w-1/2">
      <%= f.text_field :title, class: 'focus:outline-none focus:ring-0 border-x-0 border-t-0 pb-0 px-1 text-lg' %>
      <div class="text-sm text-gray-400 italic mx-1">Optional, but helpful when referring to your chapter.</div>
    </div>
  </div>

  <div class="flex flex-row items-baseline mt-4">
    <%= f.check_box :interactive, class: "mr-2" %> <label for="chapter_iteractive" class="text-lg">Allow comments?</label>
  </div>

  <div class="sections w-full my-8 p-0"
       data-controller="sections scroll-listener"
       data-sections-track-sheet-value="<%= chapter.track_sheet.definition_before_type_cast %>"
       data-sections-convenient-button-value="#convenientSaveChapterButton"
       data-scroll-listener-header-value="body > header">
    <template data-sections-target="template">
      <%= fields_for :template, Section.new, skip_default_ids: true do |sf| %>
        <%= render "sections/form", form: sf %>
      <% end %>
    </template>

    <%= render "sections/add_here" %>

    <%# set include_id to false, so we can put the id field inside the containing div %>
    <%= f.fields_for :sections, chapter.sections.in_order.presence || [ Section.new ], include_id: false, skip_default_ids: true do |sf| %>
      <%= render "sections/form", form: sf %>
    <% end %>
  </div>

  <div class="mt-4 mb-12">
    <%= f.submit "Save", class: "rounded bg-blue-100 hover:bg-blue-300 px-4 py-2" %>
    <span class="mx-1">or</span>
    <%= link_to "Cancel", chapter.persisted? ? chapter_path(chapter) : story_path(chapter.story), class: "ts-cancel" %>
  </div>
<% end %>
