<% if @chapter.new_record? %>
  <% crumbs_for @story, leaf: false %>
<% else %>
  <% crumbs_for @chapter, leaf: false %>
<% end %>
<% breadcrumb(@chapter.new_record? ? 'New Chapter' : 'Edit') %>

<%= render 'subheader' %>

<% content_for :javascript do %>
  <%= javascript_include_tag "/assets/tinymce/tinymce.min.js", id: 'tinymceScript' %>
<% end %>

<div class="flex-col w-full">
  <h1 class="text-2xl font-bold"><%= @chapter.new_record? ? 'New' : 'Edit' %> <%= chapter_type(@chapter) %></h1>
  <% prequel = @chapter.prequel || @chapter.prior_chapter %>
  <% if prequel.present? %>
    <div class="text-sm italic">
      Previous chapter: <%= link_to prequel.title, chapter_path(prequel), class: 'ts-link' %>
    </div>
  <% end %>

  <%= form_with model: (@chapter.new_record? ? [ @chapter.story, @chapter ] : @chapter),
                data: {
                  controller: 'chapter-editor',
                  chapter_editor_header_selector_value: 'header',
                  chapter_editor_direct_upload_url_value: rails_direct_uploads_url,
                  action: 'chapter-editor#finalize',
                  turbo: false # force the page to refresh to avoid using the wrong update renderer
                } do |f| %>
    <%= f.hidden_field :role %>
    <%= f.hidden_field :prequel_id %>

    <div class="flex flex-row items-baseline w-full my-4">
      <div><label for="chapter_title" class="text-lg">Title:</label></div>
      <div class="flex flex-col ml-3 w-1/2">
        <%= f.text_field :title, required: true, class: 'focus:outline-none focus:ring-0 border-x-0 border-t-0 pb-0 px-1 text-lg' %>
      </div>
    </div>

    <div class="flex flex-row items-baseline mt-4">
      <%= f.check_box :interactive, class: "mr-2" %> <label for="chapter_iteractive" class="text-lg">Allow comments?</label>
    </div>

    <div class="editor-container mt-4" data-controller="track-sheet-manager" data-track-sheet-manager-source-value="<%= (@track_sheet_defn || {}).to_json %>">
      <%= f.hidden_field :content, value: chapter_content(@chapter), data: { chapter_editor_target: 'content' } %>
      <div class="toolbar" data-chapter-editor-target="toolbar">
        <div data-chapter-editor-target="loadingIndicator" class="text-sm text-green-500 font-bold bg-green-50 border border-green-300 px-4 py-2">The editor is loading, please wait...</div>
      </div>
      <div class="editor prose--traditional" data-chapter-editor-target="editor"></div>
    </div>

    <div class="mt-4 mb-12">
      <%= f.submit "Save", class: "rounded bg-blue-100 hover:bg-blue-300 px-4 py-2" %>
      <span class="mx-1">or</span>
      <%= link_to "Cancel", @chapter.persisted? ? chapter_path(@chapter) : story_path(@chapter.story), class: "ts-cancel" %>
    </div>

    <div class="hidden" data-chapter-editor-target="progressDialog">
      <div class="z-40 fixed top-0 left-0 w-full h-screen bg-black opacity-20"></div>

      <div class="z-50 fixed shadow-md bg-white rounded-xl border border-gray-400 w-1/3 min-w-20 mx-auto top-20 overflow-hidden px-4 py-2 flex flex-col gap-2">
        <div class="text-center text-sm color-gray-400" data-chapter-editor-target="filename"></div>
        <div class="border border-gray-400 relative rounded overflow-hidden">
          <div class="absolute top-0 left-0 h-full bg-gray-200 z-10" data-chapter-editor-target="progressBar"></div>
          <div class="text-center text-sm color-gray-400 z-20 relative" data-chapter-editor-target="progressPercent"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'track_sheet_updates/picker', id: 'trackSheetPicker' %>
<%= render 'chapters/edit_renderer' %>

<script id="tsImageTagTemplate" type="text/x-handlebars-template">
  <%= stylesheet_link_tag "tailwind", "inter-font", "application" %>
  <div class="group relative flex flex-col text-black gap-2 border border-white hover:border-gray-300 hover:bg-gray-50 p-2">
    <div class="invisible group-hover:visible absolute top-0 left-0 bg-gray-50 opacity-70 text-sm ml-2 mt-2 px-2 py-1">{{filename}}</div>
    <div class="remove-image invisible group-hover:visible absolute top-0 right-0 bg-red-50 hover:bg-red-100 text-red-500 font-sans text-sm opacity-70 mr-2 mt-2 px-2 py-1 cursor-pointer">X</div>
    <div>
      <img src="{{url}}" alt="{{alt}}" width="{{width}}" height="{{height}}" class="border border-dashed border-white group-hover:border-gray-300 w-auto h-auto mx-auto" />
    </div>
    <div class="w-3/4 mx-auto flex flex-col">
      <span class="text-sm text-gray-400 ml-2">Image Alt Text:</span>
      <input type="text" name="alt" value="{{alt}}" class="px-2 py-1 rounded border-gray-400" />
      <span class="text-sm text-gray-400 ml-2">Image Caption:</span>
      <input type="text" name="caption" value="{{caption}}" class="px-2 py-1 rounded border-gray-400" />
      <span class="text-sm text-gray-400 ml-2">Image Credits:</span>
      <input type="text" placeholder="e.g. &quot;Photograph by John Shutterbug&quot;, or &quot;Artist: Jane Painter&quot;" name="ack" value="{{ack}}" class="px-2 py-1 rounded border-gray-400" />
    </div>
  </div>
</script>
