<% crumbs_for @chapter %>

<div class="font-serif">
  <div class="max-w-prose mx-auto mb-4">
    <div class="text-lg">
      <%= link_to @story.creator.display_name, creator_path(@story.creator), class: "ts-link" %>
      : <%= link_to @story.title, story_path(@story), class: "ts-link" %>
    </div>
    <% if @chapter.title.present? || Current.user == @story.creator %>
      <div class="flex flex-row items-baseline">
        <h1 class="text-2xl"><%= @chapter.title.presence || 'Untitled' %></h1>
      </div>
    <% end %>
    <div class="mt-4 text-sm flex flex-row gap-1">
      <span>
        <%= number_to_delimited(@chapter.word_count) %> words
        (<%= distance_of_time_in_words(@chapter.time_to_read.minutes) %>)
      </span>
      <% if @chapter.prior_chapter.present? %>
        <span>
          &mdash; Flip back to <%= link_to(@chapter.prior_chapter.title.presence || 'the previous chapter', @chapter.prior_chapter, class: 'ts-link') %>
        </span>
      <% end %>
      <% if Current.user == @story.creator %>
        <span class="ml-auto font-sans">
          [
            <%= link_to "Edit", edit_chapter_path(@chapter), class: "ts-link" %> |
            <%= form_with url: chapter_path(@chapter), method: :delete, data: { turbo_confirm: "Really delete this chapter?" }, class: "inline" do |f| %>
              <%= f.submit "Delete", class: "ts-cancel cursor-pointer" %>
            <% end %>
          ]
        </span>
      <% end %>
    </div>

    <hr class="my-6" />
  </div>

  <%= render @chapter.sections %>
</div>

<div class="container mx-auto flex-col mb-16">
  <ul class="mt-4 pt-4 border-t">
    <% if !editable_story? && visible_sequels(@chapter).none? %>
      <li class="italic">That's all for now, but stay tuned! <%= @story.creator.display_name %> could post more at any time.</li>
    <% end %>

    <% visible_sequels(@chapter).each do |action| %>
      <li>&rarr; <%= link_to action.prompt, chapter_path(action.target), class: "ts-link" %></li>
    <% end %>

    <% if editable_story? %>
      <li>
        <% if @chapter.actions.any? %>
          &rarr;
          Or, branch your story from here. <%= link_to "Write an alternative chapter.", new_chapter_sequel_path(@chapter), class: "ts-link" %>
        <% else %>
          Continue your story from here. <%= link_to "Add the next chapter.", new_chapter_sequel_path(@chapter), class: "ts-link" %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if editable_story? %>
    <div data-controller="draft-list" data-draft-list-key-value="<%= dom_id(@chapter) %>" class="my-4">
      <h2 class="font-bold text-lg mt-4">Sequel Drafts</h2>

      <template data-draft-list-target="template">
        <li><%= link_to "", new_chapter_sequel_path(@chapter), class: "ts-link" %></li>
      </template>

      <ul data-draft-list-target="list" class="list-disc mt-2 ml-8">
      </ul>
    </div>
  <% end %>

  <%= render 'comments/list', commentable: @chapter %>
</div>
