<% crumbs_for @chapter %>

<div class="font-serif"
     data-controller="chapter-presenter"
     data-chapter-presenter-bookmarks-value="<%= bookmarks_for(Current.user, @chapter) %>"
     data-chapter-presenter-add-bookmark-service-value="add-bookmark-dialog"
     data-chapter-presenter-bookmark-image-path-value="<%= image_path('bookmark.svg') %>"
     data-action="turbo:load@document->chapter-presenter#checkLocationHash hashchange@window->chapter-presenter#checkLocationHash">
  <% if authenticated? %>
    <%= link_to chapter_bookmarks_path(@chapter),
          class: "fixed right-8 md:right-16 top-[28px] w-6 h-12 md:w-8 md:h-16 cursor-pointer z-20 touch-none select-none hover:contrast-75",
          data: {
            turbo_stream: true,
            chapter_presenter_target: "bookmark",
            action: "chapter-presenter#considerBookmarkClick"
          } do %>
      <%= image_tag "bookmark.svg", class: 'w-full h-full' %>
    <% end %>
  <% end %>

  <% if @chapter.banner.present? || Current.user == @story.creator %>
    <% content_for :banner do %>
      <% set_top_padding :none %>
      <%= render 'banners/possible_banner', container: @chapter, editable: (Current.user == @story.creator) %>
    <% end %>
  <% end %>

  <div class="max-w-prose mx-auto mb-4">
    <div class="flex flex-row items-baseline">
      <h1 class="text-3xl font-bold"><%= @chapter.title.presence || 'Untitled' %></h1>
    </div>
    <div class="text-sm flex flex-row gap-2">
      <% if @chapter.published? %>
        <span><%= @chapter.published_at.strftime("%A, %B %e, %Y") %></span>
        &mdash;
      <% else %>
        <span class="text-red-600">[draft &mdash; not yet published]</span>
      <% end %>
      <% cache [ @chapter, :word_count ] do %>
        <span>
          <%= number_to_delimited(@chapter.word_count) %> words
          (<%= distance_of_time_in_words(@chapter.time_to_read.minutes) %>)
        </span>
      <% end %>
    </div>
  </div>

  <div class="max-w-prose mx-auto mb-4">
    <%= render 'nav' %>

    <% if Current.user == @story.creator %>
      <div class="mt-1 mb-2 flex flex-row items-baseline gap-4">
        <div class="mt-1 text-xs font-sans">
          <% if @chapter.publishable? %>
            <%= form_with url: publish_chapter_path(@chapter), class: "flex flex-row items-baseline gap-2" do |f| %>
              <input type="submit" value="Publish this chapter" class="border rounded bg-blue-50 hover:bg-blue-100 border-blue-400 px-1.5 py-0.5" />
              <% if @story.subscriber_count > 0 && !@chapter.announced? %>
                <span>
                  <input type="checkbox" name="notify" value="notify" checked />
                  and notify <%= pluralize @story.subscriber_count, 'subscriber' %>
                </span>
              <% end %>
            <% end %>
          <% elsif !@chapter.published? %>
            <button disabled class="border rounded text-gray-400 bg-gray-50 hover:bg-gray-100 border-gray-400 px-1.5 py-0.5 cursor-not-allowed" title="Chapters cannot be published until all previous chapters are published.">Publish this chapter</button>
          <% elsif @chapter.revokable? %>
            <%= form_with url: revoke_chapter_path(@chapter) do |f| %>
              <input type="submit" value="Unpublish this chapter" class="border rounded bg-yellow-50 border-yellow-400 px-1.5 py-0.5" />
            <% end %>
          <% else %>
            <button disabled class="border rounded text-gray-400 bg-gray-50 hover:bg-gray-100 border-gray-400 px-1.5 py-0.5 cursor-not-allowed" title="Chapters cannot be unpublished if any subsequent chapter is published.">Unpublish this chapter</button>
          <% end %>
        </div>

        <div class="ml-auto font-sans text-sm">
          [
            <%= link_to "Edit", edit_chapter_path(@chapter), class: "ts-link" %> |
            <%= form_with url: chapter_path(@chapter), method: :delete, data: { turbo_confirm: "Really delete this chapter?" }, class: "inline" do |f| %>
              <%= f.submit "Delete", class: "ts-cancel cursor-pointer" %>
            <% end %>
          ]
        </div>
      </div>

      <hr class="mt-1 mb-6" />
    <% end %>
  </div>

  <div data-controller="track-sheet-manager"
       data-track-sheet-manager-source-value="<%= @chapter.track_sheet.definition.to_json %>"
       class="prose--traditional prose--display mt-4">
    <%= @chapter.content %>
  </div>

  <% if authenticated? %>
    <%= render "bookmarks/new" %>
  <% end %>
</div>

<div class="max-w-prose mx-auto mt-4">
  <% if !editable_story? && visible_sequels(@chapter).none? %>
    <div class="italic pt-4 mb-4 border-t border-dashed">That's all for now, but stay tuned! <%= @story.creator.display_name %> could post more at any time.</div>
  <% end %>

  <%= render 'nav' %>

  <% if editable_story? %>
    <div class="mb-4 pt-4">
      <% if @chapter.actions.any? %>
        Or, you can branch your story from here. <%= link_to "Write an alternative chapter.", new_chapter_sequel_path(@chapter), class: "ts-link" %>
      <% else %>
        Continue your story from here. <%= link_to "Add the next chapter.", new_chapter_sequel_path(@chapter), class: "ts-link" %>
      <% end %>
    </div>
  <% end %>

  <% if editable_story? %>
    <div data-controller="draft-list" data-draft-list-key-value="<%= dom_id(@chapter) %>" class="my-4">
      <h2 class="font-bold text-lg mb-4">Sequel Drafts</h2>

      <template data-draft-list-target="template">
        <li><%= link_to "", new_chapter_sequel_path(@chapter), class: "ts-link" %></li>
      </template>

      <ul data-draft-list-target="list" class="list-disc mt-2 ml-8">
      </ul>
    </div>
  <% end %>

  <div class="flex-col mb-16">
    <%= render 'comments/list', commentable: @chapter %>
  </div>
</div>

<%= render 'chapters/display_renderer' %>

<script id="tsImageTagTemplate" type="text/x-handlebars-template">
  <%= stylesheet_link_tag "tailwind", "inter-font", "application" %>
  <div class="flex flex-col text-black">
    <div>
      <img src="{{url}}" alt="{{alt}}" width="{{width}}" height="{{height}}" class="max-h-[75vh] w-auto h-auto mx-auto" />
    </div>
    {{#if caption}}<div class="text-center markdown">{{md caption}}</div>{{/if}}
    {{#if ack}}<div class="text-sm text-gray-400 text-center markdown">{{md ack}}</div>{{/if}}
  </div>
</script>
