<!DOCTYPE html>
<html>
  <head>
    <title>Taleswapper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: 'ts-image-url-pattern', value: rails_service_blob_url(signed_id: ':signed-id:', filename: ':filename:') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :rss %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield :javascript %>
  </head>

  <body>
    <header class="fixed top-0 w-full bg-white z-20">
      <div class="px-5 py-1 flex flex-row border-solid border-b border-gray-300 items-baseline">
        <h1 class="text-sm whitespace-nowrap overflow-x-hidden text-ellipsis">
          <%= link_to "≣", root_url %>
          <%= link_to "Taleswapper", root_url, class: "hidden md:inline ts-link" %>
          <% breadcrumbs.each do |crumb| %>
            <span class="text-ellipsis <%= breadcrumb_styles(crumb) %>">: <%= crumb[:link] ? link_to(crumb[:text], crumb[:link], class: "ts-link") : crumb[:text] %></span>
          <% end %>
        </h1>
        <div class="text-sm flex flex-row items-baseline ml-auto">
          <% if authenticated? %>
            <span class="hidden sm:inline">
              Hello, <%= link_to Current.user.display_name, user_path(Current.user), class: 'ts-link' %>
              <span class="mx-3">|</span>
            </span>
            <%= form_with url: session_path, method: :delete do |form| %>
              <%= form.submit "Sign out", class: "ts-link cursor-pointer" %>
            <% end %>
          <% else %>
            <span>
            <%= link_to "Sign in", new_session_path, class: "ts-link" %>
              <span class="hidden md:inline">
                or
                <%= link_to "Sign up", new_user_path, class: "ts-link" %>
              </span>
            </span>
          <% end %>
        </div>
      </div>
      <%= yield :subheader %>
    </header>

    <% if flash[:notice] %>
      <div class="mt-16 border border-yellow-400 bg-yellow-50 rounded-lg px-6 py-2 w-1/2 m-auto">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <main class="<%= flash[:notice].present? ? 'mt-12' : 'mt-28' %> md:container px-6 md:mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
