<!DOCTYPE html>
<html>
  <head>
    <title>Taleswapper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="fixed top-0 w-full">
      <div class="px-5 py-2 flex flex-row bg-blue-700 text-white border-solid border-b border-black items-baseline">
        <h1 class="text-lg font-bold">Taleswapper</h1>
        <div class="flex flex-row items-baseline ml-auto">
          <% if authenticated? %>
            Hello, <%= Current.user.display_name %>
            <span class="mx-4">|</span>
            <%= form_with url: session_path, method: :delete do |form| %>
              <%= form.submit "Sign out", class: "ts-link--white cursor-pointer" %>
            <% end %>
          <% else %>
            <%= link_to "Sign in", new_session_path, class: "ts-link--white" %>
          <% end %>
        </div>
      </div>
      <%= yield :subheader %>
    </header>

    <%= yield %>
  </body>
</html>
